apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: traefik-gateway-role
rules:
  - apiGroups: [""]
    resources: ["namespaces"]
    verbs: ["list","watch"]
  - apiGroups: [""]
    resources: ["pods"]
    verbs: ["get"]
  - apiGroups: [""]
    resources: ["services","secrets","configmaps"]
    verbs: ["get","list","watch"]
  - apiGroups: ["discovery.k8s.io"]
    resources: ["endpointslices"]
    verbs: ["list","watch"]
  - apiGroups: ["gateway.networking.k8s.io"]
    resources:
      ["gatewayclasses","gateways","httproutes","grpcroutes","tcproutes","tlsroutes","referencegrants","backendtlspolicies"]
    verbs: ["get","list","watch"]
  - apiGroups: ["gateway.networking.k8s.io"]
    resources:
      ["gatewayclasses/status","gateways/status","httproutes/status","grpcroutes/status","tcproutes/status","tlsroutes/status","referencegrants/status","backendtlspolicies/status"]
    verbs: ["update"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: traefik-gateway-controller
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: traefik-gateway-role
subjects:
  - kind: ServiceAccount
    name: traefik
    namespace: traefik
